<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-sm justify-content-center">
      <h1>Welcome to To-Do App.</h1>
      {% if signin == True %}
        <p>{{username}}님, 반갑습니다. <a href="/logout">로그아웃</a></p>
        <form method="post" action="/process_insert_todo">
          <input type="text" name="todo" placeholder="할일을 적으세요..."/>
          <button type="submt">저장</button>
        </form>
        {% for row in todos %}
          <li> <span class="fs-4">{{row[0]}}</span> <span class="fs-6 fw-lighter">{{row[1]}} {{ '완료' if row[2] else '미완료' }}</span></li>
        {% endfor %}

      {% else %}
        <p>회원이시면 <a href="/signin" role="button">로그인</a> 해주세요</p>
        <p>회원이 아니시면 <a href="/signup" role="button">회원가입</a> 해주세요</p>
      {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>